<div class="page-header">
    <h2>My Bids</h2>
</div>

<h3>Sells</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Time</th>
            <th>Product</th>
            <th>Bidder</th>
            <th>Posted Price</th>
            <th>Requested Price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bid in bids_list.sells" ng-class="{true: 'warning', false:''}[bid.highlight]">
            <td>{{bid.timestamp * 1000 | date:'MM/dd/yyyy HH:mm'}}</td>
            <td><a href="#/product/{{bid.product.id}}">{{bid.product.name}}</a></td>
            <td><a href="#/user/{{bid.bidder.user_id}}">{{bid.bidder.nickname}}</a></td>
            <td>${{bid.product.price}}</td>
            <td>${{bid.price}}</td>
            <td>{{bid.status_display}}</td>
            <td class="text-right">
                <button type="button" ng-show="bid.is_new" ng-click="accept(bid)" class="btn btn-success" aria-label="Left Align">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
                </button>
                <button type="button" ng-show="bid.is_new" ng-click="reject(bid)" class="btn btn-danger" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
                </button>
                <button type="button" ng-click="contact(bid.bidder.user_id, bid.bidder.nickname)" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#modal_message">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact
                </button>
            </td>
        </tr>
    </tbody>
</table>

<h3>Bids</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Time</th>
            <th>Product</th>
            <th>Posted Price</th>
            <th>Desired Price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bid in bids_list.bids" ng-class="{true: 'warning', false:''}[bid.highlight]">
            <td>{{bid.timestamp * 1000 | date:'MM/dd/yyyy HH:mm'}}</td>
            <td><a href="#/product/{{bid.product.id}}">{{bid.product.name}}</a></td>
            <td>${{bid.product.price}}</td>
            <td>${{bid.price}}</td>
            <td>{{bid.status_display}}</td>
            <td class="text-right">
                <button type="button" ng-show="bid.is_new" ng-click="delete(bid)" class="btn btn-danger" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                </button>
                <button type="button" ng-show="bid.is_accepted && !bid.is_reviewed" ng-click="review(bid)" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#modal_review">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Review
                </button>
                <button type="button" ng-click="contact(bid.product.seller_user_id, bid.product.seller_nickname)" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#modal_message">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade bs-example-modal-lg" id="modal_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Conversation with {{current_conversation.nickname}}</h4>
            </div>
            <div class="modal-body row">
                <div class="container col-md-12">
                    <div class="row" ng-repeat="message in current_conversation.messages">
                        <div class="col-md-1" ng-hide="message.from_me">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" class="img-circle"/>
                        </div>
                        <div ng-class="{true: 'col-md-8 col-md-offset-3 well text-right', false: 'col-md-8 well text-left'}[message.from_me]">
                            <p>{{message.content}}</p>
                            <small>{{message.timestamp * 1000 | date:'MM/dd HH:mm'}}</small>
                        </div>
                        <div class="col-md-1" ng-show="message.from_me">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" class="img-circle"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container col-md-12">
                    <div class="row">
                        <form ng-submit="send_message()">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <textarea class="form-control" maxlength="500" rows="3" id="new_message" required/>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default btn-block">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Review the seller: {{current_review.nickname}}</h4>
            </div>
            <form ng-submit="submit_review()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <select class="form-control" id="new_rating">
                            <option value="1">Positive</option>
                            <option value="0">Neutral</option>
                            <option value="-1">Negative</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="new_review">Review</label>
                        <textarea maxlength="500" class="form-control" rows="3" id="new_review" placeholder="Write your review here..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>