<div class="page-header">
    <h2>Edit product</h2>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form ng-submit="save()">
            <div class="form-group">
                <label for="name">Item name</label>
                <input type="text" maxlength="100" class="form-control" id="name" ng-model="product.name" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" ng-model="product.category">
                    <option ng-repeat="category in category_list" value="{{category.id}}">{{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <div ng-show="current_tags.length>0">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="tag in current_tags track by $index">
                            <button type="button" class="btn btn-default btn-xs" ng-click="remove_tag($index)" aria-label="Remove">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            {{tag}}
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="form-group form-inline">
                    <input type="text" maxlength="150" class="form-control" id="new_tag" placeholder="Enter custom tag">
                    <button type="button" ng-click="add_tag()" class="btn btn-default">Add</button>
                    <span ng-show="suggestion_tags.length>0"> &nbsp;or suggestion: 
                        <span ng-repeat="tag in suggestion_tags track by $index"><a href="" ng-click="add_suggestion_tag($index)">{{tag}}</a> </span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number" min="0" class="form-control" id="price" ng-model="product.price" required>
                </div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" maxlength="150" class="form-control" id="location" ng-model="product.location" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea maxlength="1000" class="form-control" rows="3" id="description" ng-model="product.description" required></textarea>
            </div>
            <div class="form-group">
                <label>Current Photos</label>
                <p ng-hide="product.photos.length">No any photo now</p>
                <div class="row">
                    <div class="col-md-4" ng-repeat="photo in product.photos">
                        <img ng-src="/uploads/product/{{photo.filename}}" style="height: 150px; width: 150px;"/>
                        <button type="button" class="btn btn-default" ng-click="delete_photo(photo)" aria-label="Remove">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Additional Photos</label>
                <input type="file" id="photos" class="form-control" nv-file-select="" uploader="uploader" multiple/>
            </div>
            <div class="row">
                <div class="col-md-4" ng-repeat="item in uploader.queue">
                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 150, width:150 }"></div>
                    <button type="button" class="btn btn-default" ng-click="item.remove()" aria-label="Remove">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>