<script>
    $('#product_tab a').click(function(e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>

<style>
    .comment-response {
        padding-left: 2em
    }
</style>

<br/>
<br/>

<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="http://placehold.it/360x360">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3><div class="dropdown">{{product.name}} <button type="button" class="btn btn-default dropdown-toggle" id="btn_manage" data-toggle="dropdown" aria-expanded="true" ng-show="product.is_owner">
  <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
</button><ul class="dropdown-menu" role="menu" aria-labelledby="btn_manage">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/product/{{product.product_id}}/edit">Edit</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Mark as sold</a></li>
    <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="">Delete</a></li> -->
  </ul></div></h3>
                <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a href="#/user/{{product.seller.user_id}}">{{product.seller.nickname}}</a></p>
                <p><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ${{product.price}}</p>
                <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{product.location}}</p>
                <p>
                    <button type="button" ng-hide="product.is_owner" class="btn btn-primary" data-toggle="modal" data-target="#modal_bid">Bid to buy</button>
                </p>
                <p>
                    <button type="button" ng-class="{1: 'btn btn-danger', 0: 'btn btn-default'}[product.is_liked]" ng-click="like()" ng-hide="product.is_liked">Like this ({{product.likes}})</button>
                </p>
                <p>
                    <button type="button" ng-class="{1: 'btn btn-danger', 0: 'btn btn-default'}[product.is_liked]" ng-click="like()" ng-show="product.is_liked">Unlike this ({{product.likes}})</button>
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_bid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Bid this product</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="price">Desired Price</label>
                            <div class="input-group">
                              <div class="input-group-addon">$</div>
                              <input type="text" class="form-control" id="bid_price">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submit_bid()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist" id="product_tab">
                        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments ({{product.comment_count}})</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="description">
                            <br/>
                            <p>{{product.description}}</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="comments">
                            <br/>
                            <div ng-repeat="comment in product.comments">
                                <button type="button" class="btn btn-default btn-xs pull-right" aria-label="Left Align" data-toggle="modal" data-target="#modal_respond" ng-show="product.is_owner" ng-click="respond(comment)">
                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                </button>
                                <p><img src="http://placehold.it/40x40" class="img-circle"><strong> {{comment.user_nickname}}</strong></p>
                                <p>{{comment.content}}</p>
                                <p class="comment-response" ng-show="comment.is_responded"><strong>Seller:</strong> {{comment.response}}</p>
                                <hr>
                            </div>
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" id="new_comment" placeholder="Write a public comment..."></textarea>
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="submit_comment()">Submit</button>
                            </form>
                            <div class="modal fade" id="modal_respond" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Respond to comment</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>{{current_comment.user_nickname}}:</strong> {{current_comment.content}}</p>
                                            <form>
                                                <strong>Re:</strong>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="3" id="new_response" placeholder="Write your response here..."></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submit_response()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>