<style>
    .name-truncate {
        width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="page-header">
    <h2>{{categoryName}}</h2>
</div>

<div class="row">
    <div class="col-md-3" ng-repeat="product in products_list">
        <div class="thumbnail">
            <a href="#/product/{{product.product_id}}"><img ng-src="/uploads/product/{{product.photo}}" class="img-responsive center-block" style="height: 240px;"><a/>
                <div class="caption">
                    <h3 class="name-truncate"><a href="#/product/{{product.product_id}}">{{product.name}}</a></h3>
                    <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <a href="#/user/{{product.seller.user_id}}">{{product.seller.nickname}}</a></p>
                    <p><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> {{product.price}} <span class="label label-danger" ng-show="product.is_sold">Sold</span></p>
                    <p>
                        <button type="button" ng-show="isLoggedIn" ng-click="like(product)" ng-class="{0: 'btn btn-default', 1: 'btn btn-danger'}[product.is_liked]" aria-label="Left Align">
                            <span ng-class="{0: 'glyphicon glyphicon-heart-empty', 1: 'glyphicon glyphicon-heart'}[product.is_liked]" aria-hidden="true"></span>
                        </button><span class="glyphicon glyphicon-heart" ng-hide="isLoggedIn" aria-hidden="true"></span> {{product.likes}} user liked
                    </p>
                </div>
        </div>
    </div>
</div>

<div class="alert alert-warning" role="alert" ng-hide="totalPages>0">
    Oops! No product in this category.
</div>

<div class="text-center" ng-show="totalPages>0">
    <nav>
        <ul class="pagination align-center">
            <li ng-class="{false: '', true: 'disabled'}[isFirstPage]">
                <a ng-href="#/product/all/{{categoryId}}/{{currentPage != 1 ? currentPage-1 : 1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="page in paginationBar" ng-class="{false: '', true: 'active'}[page.current]"><a href="#/product/all/{{categoryId}}/{{page.page}}">{{page.page}}</a></li>
            <li ng-class="{false: '', true: 'disabled'}[isLastPage]">
                <a ng-href="#/product/all/{{categoryId}}/{{currentPage != totalPages ? currentPage+1 : totalPages}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>