<style>
    .name-truncate {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<script>
    $('#user_tab a').click(function(e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>

<br/>
<br/>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="/uploads/user/{{user.profile_pic}}" class="img-circle" style="width: 100px; height: 100px">
                    </div>
                    <div class="col-md-8">
                        <h4>{{user.first_name}} {{user.last_name}}</h4>
                        <p>@{{user.nickname}}</p>
                        <p>{{reviews_list.percentage}}% Positive ({{reviews_list.reviews.length}})</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center" ng-hide="!isLoggedIn || is_me">
                        <br/>
                        <button ng-hide="user.is_followed" type="button" class="btn btn-default" ng-click="follow(user)">Follow</button>
                        <button ng-show="user.is_followed" type="button" class="btn btn-primary" ng-click="follow(user)">Unfollow</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="reviews_list.reviews.length">
            <div class="panel-body">
                <div ng-repeat="review in reviews_list.reviews">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="#/user/{{review.reviewer.user_id}}"><img ng-src="/uploads/user/{{review.reviewer.profile_pic}}" class="img-circle" style="width: 50px; height: 50px"><a/>
                        </div>
                        <div class="col-md-10">
                            <p><span ng-class="{'glyphicon glyphicon-thumbs-down': review.rating == -1, 'glyphicon glyphicon-thumbs-right': review.rating == 0, 'glyphicon glyphicon-thumbs-up': review.rating == 1}" aria-hidden="true"></span> {{review.content}}</p>
                            <small>─ {{review.reviewer.nickname}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist" id="user_tab">
                <li role="presentation" class="active"><a href="#product" aria-controls="product" role="tab" data-toggle="tab">Product ({{user.product_count}})</a></li>
                <li role="presentation"><a href="#follower" aria-controls="follower" role="tab" data-toggle="tab">Follower ({{user.follower_count}})</a></li>
                <li role="presentation"><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following ({{user.following_count}})</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="product">
                    <br/>
                    <div class="col-md-4" ng-repeat="product in products_list">
                        <div class="thumbnail">
                            <a href="#/product/{{product.product_id}}"><img ng-src="/uploads/product/{{product.photo}}" class="img-responsive center-block" style="height: 200px;"><a/>
                                <div class="caption">
                                    <h3 class="name-truncate"><a href="#/product/{{product.product_id}}">{{product.name}}</a></h3>
                                    <p><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> {{product.price}} <span class="label label-danger" ng-show="product.is_sold">Sold</span></p>
                                    <p>
                                        <button type="button" ng-show="isLoggedIn" ng-click="like(product)" ng-class="{0: 'btn btn-default', 1: 'btn btn-danger'}[product.is_liked]" aria-label="Left Align">
                                            <span ng-class="{0: 'glyphicon glyphicon-heart-empty', 1: 'glyphicon glyphicon-heart'}[product.is_liked]" aria-hidden="true"></span>
                                        </button><span class="glyphicon glyphicon-heart" ng-hide="isLoggedIn" aria-hidden="true"></span> {{product.likes}} user liked
                                    </p>
                                </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="follower">
                    <br/>
                    <div class="col-md-4" ng-repeat="follower in followers_list">
                        <div class="thumbnail">
                            <a href="#/user/{{follower.user_id}}"><img ng-src="/uploads/user/{{follower.profile_pic}}" class="img-circle center-block" style="width: 120px; height: 120px"><a/>
                                <div class="caption text-center">
                                    <strong><a href="#/user/{{follower.user_id}}">{{follower.nickname}}</a></strong>
                                    <p>{{follower.product_count}} products · {{follower.follower_count}} followers</p>
                                    <p><button ng-hide="!isLoggedIn || follower.is_followed" type="button" class="btn btn-default btn-block" ng-click="follow(follower)">Follow</button><button ng-show="isLoggedIn && follower.is_followed" type="button" class="btn btn-primary btn-block" ng-click="follow(follower)">Unfollow</button></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="following">
                    <br/>
                    <div class="col-md-4" ng-repeat="following in followings_list">
                        <div class="thumbnail">
                            <a href="#/user/{{following.user_id}}"><img ng-src="/uploads/user/{{following.profile_pic}}" class="img-circle center-block" style="width: 120px; height: 120px"><a/>
                                <div class="caption text-center">
                                    <strong><a href="#/user/{{following.user_id}}">{{following.nickname}}</a></strong>
                                    <p>{{following.product_count}} products · {{following.follower_count}} followers</p>
                                    <p><button ng-hide="!isLoggedIn || following.is_followed" type="button" class="btn btn-default btn-block" ng-click="follow(following)">Follow</button><button ng-show="isLoggedIn && following.is_followed" type="button" class="btn btn-primary btn-block" ng-click="follow(following)">Unfollow</button></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>