<div class="page-header">
    <h2>My Wantlist</h2>
</div>

<div class="row" ng-repeat="wantlist in wantlists_list">
    <form ng-submit="save(wantlist)">
        <div class="col-md-3 col-md-offset-4">
            <div class="form-group">
                <p ng-hide="wantlist.edit_mode">{{wantlist.name}}</p>
                <input maxlength="30" ng-show="wantlist.edit_mode" class="form-control" ng-model="wantlist.name" required>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <div class="dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle" id="btn_manage" data-toggle="dropdown" aria-expanded="true" ng-hide="wantlist.edit_mode">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="btn_manage">
                        <li role="presentation" ng-click="enter_edit_mode(wantlist)"><a role="menuitem" tabindex="-1" href="">Edit</a></li>
                        <li role="presentation" ng-click="remove(wantlist)"><a role="menuitem" tabindex="-1" href="">Delete</a></li>
                    </ul>
                </div>
                <button ng-show="wantlist.edit_mode" type="submit" class="btn btn-info" aria-label="Save">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <form ng-submit="insert()">
        <div class="col-md-3 col-md-offset-4">
            <div class="form-group">
                <input maxlength="30" class="form-control" id="new_wantlist" placeholder="Enter what you need..." required>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-danger" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </form>
</div>